# Add any directories, files, or patterns you don't want to be tracked by version control

# directories
build/
.ccache/
html/
INCA_libs/
__pycache__/
testconfig/

# files
irun*
rom.txt
*\#*
ramdisk

# suffixes
*.bak
*.o
*.d
*.dmp
*.tmp
*.map
*~
*.bin
*.elf
*.lck
*.log
*.dd
*.org
*.orig

