# Add any directories, files, or patterns you don't want to be tracked by version control

# dirs
build/
INCA_libs/
testconfig/
__pycache__/
html/
latex/
.ccache/

# files
irun*
rom.txt
*\#*

# suffixes
*.bak
*.o
*.d
*.dmp
*.tmp
*.map
*~
*.bin
*.elf
*.lck
*.log

# latex suffixes
*.aux
*.dvi
*.out
*.toc
*.lot
*.lof
*.bbl
*.blg
